---
import Welcome from "../components/Welcome.astro";
import Main from "../components/Main.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <Navbar />
    <Main>
        <Welcome />
    </Main>
    <Footer />
</Layout>
