<footer
    class="bg-surface-container-low full-width py-12 border-t-2 border-primary border-double flex flex-col items-center gap-4 w-full max-w-max-width mx-auto md:ml-24"
>
    <div class="font-label-mono text-label-mono text-primary flex gap-6">
        <a
            class="text-on-surface-variant opacity-60 hover:text-secondary transition-colors"
            href="#">Github</a
        >
        <a
            class="text-on-surface-variant opacity-60 hover:text-secondary transition-colors"
            href="#">LinkedIn</a
        >
        <a
            class="text-on-surface-variant opacity-60 hover:text-secondary transition-colors"
            href="#">Source Code</a
        >
    </div>
    <p class="font-body-md text-body-md text-secondary">
        Built with ink and logic. 2024.
    </p>
</footer>
