<main
    class="md:ml-24 px-margin-mobile md:px-margin-desktop py-12 max-w-max-width mx-auto space-y-32"
    style='
        background-image:
            linear-gradient(
                rgba(251, 249, 250, 0.8),
                rgba(251, 249, 250, 0.8)
            ),
            url("https://lh3.googleusercontent.com/aida/AP1WRLvOHDflMzShby07_G79a4JT5SBupsrOIL3fbPOZBBwwuJT7_umtCQvd0flrs8xHYBOdg5wOv9lR40Xhyfaw1oDjoAXKDiYhfRt3GqsscYJVlRgv2l_MZIu0FsbTn5Yr-M3ogNVI06-A3eIjfIghoC78wGTiYq2m6he7eJ5VmE7ZFVzT6x2h4KxiYWQKmvoBMn9vZyvGvZtIkVHqOggp3N_acgJPo9KcrwBW9dmhyA6oBGe2hNT9COvhpMc");
        background-size: cover;
        background-attachment: fixed;
        background-position: center center;
    '
>
    <slot />
</main>
