---
import profile from "../assets/profile.png";

const navItems = [
    { id: "home", name: "Home", icon: "architecture", route: "/" },
    { id: "tech_stack", name: "Tech Stack", icon: "terminal", route: "/about" },
    { id: "projects", name: "Projects", icon: "draw", route: "/projects" },
    { id: "contact", name: "Contact", icon: "edit_note", route: "/contact" },
];
const selected = "home";
---

<nav
    class="fixed left-0 top-0 h-full w-24 border-r-4 border-primary border-dashed flex flex-col items-center justify-center space-y-12 py-8"
>
    <div class="mb-8 flex flex-col items-center">
        <img
            alt="Avatar"
            class="w-12 h-12 rounded-full border-gray-950 border-3 object-cover mb-2 grayscale"
            src={profile.src}
        />
        <div class="text-center font-display text-headline-md text-secondary">
            Awais
        </div>
    </div>
    <ul
        class="flex flex-col gap-16 grow justify-center font-label-mono text-label-mono"
    >
        {
            navItems.map((item) => (
                <li>
                    <a
                        class:list={[
                            "flex flex-col items-center gap-3 cursor-pointer group hover:translate-x-1 hover:translate-y-1 hover:scale-110 transition-all duration-200 active:rotate-3 active:scale-110",
                            {
                                "text-secondary font-bold underline decoration-wavy decoration-2":
                                    item.id === selected,
                            },
                            {
                                "text-on-surface opacity-70 hover:opacity-100":
                                    item.id !== selected,
                            },
                        ]}
                    >
                        <span class="material-symbols-outlined text-2xl group-hover:scale-110 transition-transform">
                            {item.icon}
                        </span>
                        <span class="-rotate-90 origin-center translate-x-3 whitespace-nowrap mt-4">
                            {item.name}
                        </span>
                    </a>
                </li>
            ))
        }

        <li class="">
            <a
                class="flex flex-col items-center gap-2 cursor-pointer group hover:translate-x-1 transition-transform duration-200"
            >
            </a>
        </li>
    </ul>
    <div class="mt-auto">
        <button
            class="font-label-mono text-label-mono cursor-pointer text-primary p-2 sketch-border-thin jiggle -rotate-5"
        >
            <span class="material-symbols-outlined align-middle mr-1"
                >download</span
            >CV
        </button>
    </div>
</nav>
